
.hidden {
    display: none;
}
.vertical-middle {
    display: table-cell;
    vertical-align: middle;
}
.panel.panel-default {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.message {
    padding: 15px;
    margin: 0;
}