<footer>
    <div class="pc_footer">
        <p> © Chekhonina Vasilisa, 2017-2018</p>
        <p>
            <i class="fa fa-envelope-o mail_pc"  aria-hidden="true"></i> Timetotube@mail.ru
        </p>
    </div>

    <div class="phone_footer">
        <p> Choose language:</p>
        <div>
            <span class="flag-icon flag-icon-ru" ng-click="changeLang('ru')" style=" margin-left: 6px;"></span>
            <span class="flag-icon flag-icon-gb" ng-click="changeLang('en')"></span>
        </div>

        <nav>
            <a ui-sref="about" class="sel"> Donate </a>
            <a ui-sref="about" class="sel"> Email us </a>
        </nav>
    </div>

    <div class="phone_author">
        © Chekhonina Vasilisa, 2017-2018
    </div>
</footer>


