<div class="ipad_menu">
    <img src="resources/images/logo.png">
    <nav>
        <a ui-sref={{tittle}} ng-repeat="tittle in tittles" ng-class="{sel: isActive(tittle)}"> {{tittle}} </a>
    </nav>
</div>

<header>
    <div class="pc_menu">
        <nav>
            <a ui-sref={{tittle}} ng-repeat="tittle in tittles" ng-class="{sel: isActive(tittle)}"> {{tittle}} </a>
        </nav>
        <div class="lang_box">
            <span class="flag-icon flag-icon-ru" ng-click="changeLang('ru')"></span>
            <span class="flag-icon flag-icon-gb" ng-click="changeLang('en')"></span>
        </div>

    </div>
</header>