<!-------------------------------------------   GAME REVIEW -------------------------------------------->
<div class="content_text">
    <div class="icon_box">
        <div class="icon_game"></div>
        <div class="icon_shop google"></div>
        <div class="icon_shop windows"></div>
    </div>

    <div class="text_box">
        <div class="icon_game mobileV" style="margin: auto"></div>

        <h2>Time to tube</h2>
        <hr>
        <!------- All paragraphs ---------->
        <p class="text_review" ng-repeat="i in features | limitTo: 4">
            {{'par'+i+'_1' | translate}}
        </p>

        <!------- Features ---------->
        <p>{{'par5_tittle_1'|translate}}</p>
        <ul>
            <li ng-repeat="i in features">{{'feature_'+i | translate}}</li>
        </ul>

        <div class="icon_shop google mobileV" style="margin: auto"></div>
        <div class="icon_shop windows mobileV" style="margin: auto"></div>
    </div>

</div>

<!-------------------------------------------  END GAME REVIEW -------------------------------------------->


<!-------------------------------------------   VIDEO  -------------------------------------------->

<div class="video_box">
    <h2>{{'tittle1' | translate}}</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/FHTphWfHzPQ" frameborder="0"
            allowfullscreen></iframe>
</div>
<!-------------------------------------------  END  VIDEO  -------------------------------------------->


<!-------------------------------------------  GALLERY  -------------------------------------------->
<div class="gallery_box">
    <h2>{{'tittle2' | translate}}</h2>

    <div class="box_artIcon">

        <div class="artIcon" ng-repeat="art in arts" ng-click="openLightboxModal($index)">
            <div class="maska">
                <p>
                    <span class="glyphicon glyphicon-search" style="font-size: 56px;"></span>
                </p>
            </div>
            <img ng-src="resources/images/{{art.thumbUrl}}.jpg">
        </div>

    </div>
</div>

<!-------------------------------------------  END  GALLERY -------------------------------------------->