<h2>{{'tittle3' | translate}}</h2>

<p class="text_review" ng-repeat="i in features | limitTo: 4">
    {{'par'+i+'_2' | translate}}
</p>

<h2>Напишите нам</h2>

<div class="container_f">
    <form>

        <label for="fname">Your Name</label>
        <input type="text" id="fname" ng-model="name" placeholder="Your name..">
        Hello <span ng-bind="name"></span>!

        <label for="lname">Your Email</label>
        <input type="text" id="lname" ng-model="mail" placeholder="Your name..">

        <label for="country">Subject</label>
        <input type="text" id="country" ng-model="subject" placeholder="Your name..">

        <label for="subject">Message</label>
        <textarea id="subject" name="subject" placeholder="Your text..." ng-model="message" style="height:200px"></textarea>

        <input type="submit" value="Submit" ng-click="sendEmail(name, mail, subject, message)">

    </form>

