<h2>{{'tittle3' | translate}}</h2>

<p class="text_review" ng-repeat="i in features | limitTo: 4">
    {{'par'+i+'_2' | translate}}
</p>


<div style="width: 100%;">
    <h3>{{'dev_tittle_0' | translate}} </h3>
    <div style="float: left; width: 49%;">
       <p>{{'dev_tittle_1' | translate}} 	</p>
      <p> {{'dev_tittle_2' | translate}} 	</p>
        <p> {{'dev_tittle_3' | translate}} 	</p>

        <p> {{'dev_tittle_4' | translate}}  	</p>


    </div>
    <div style="float: right; width: 49%;">
        <p> {{'dev_name_1' | translate}} </p>
        <p> {{'dev_name_2' | translate}} </p>
        <p> {{'dev_name_3' | translate}}</p>
        <p> {{'dev_name_4' | translate}}  </p>


    </div>
    <h3> {{'dev_tittle_5' | translate}}   </h3>
    <div style="float: left; width: 49%;">
        <p>{{'dev_tittle_6' | translate}} 	</p>
        <p>{{'dev_tittle_7' | translate}}  	</p>
    </div>
    <div style="float: right; width: 49%;">
    <p>  Unity3d</p>
    <p> www.freesfx.co.uk</p>
</div>
</div>

<div style="clear: both"></div>


<h2> {{'contact_tittle' | translate}} </h2>
<div class="container_f">

    <form>

        <label for="fname">Your Name</label>
        <input type="text" id="fname" ng-model="name" placeholder="Your name..">
        Hello <span ng-bind="name"></span>!

        <label for="lname">Your Email</label>
        <input type="text" id="lname" ng-model="mail" placeholder="Your name..">

        <label for="country">Subject</label>
        <input type="text" id="country" ng-model="subject" placeholder="Your name..">

        <label for="subject">Message</label>
        <textarea id="subject" name="subject" placeholder="Your text..." ng-model="message" style="height:200px"></textarea>

        <input type="submit" value="Submit" ng-click="sendEmail(name, mail, subject, message)">

    </form>
</div>